{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<style>
.centrado {
  margin: 1rem;
  padding: 1rem;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
</style>
<body style="background-color: #efefef;">
    <div class="centrado">
        <legend style="margin-top: 20px; text-align: center;">
            <i class="fas fa-chart-bar"></i> {% trans 'Valores anuales' %}
        </legend>
        <hr/>
    </div> 
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-1"></div>
        <div class="col-md-1" style="margin-top: 5px;">
            <a id="btn-back" class="btn btn-outline-secondary" href="{% url 'fevama:ayudas_index' %}">
                {% fa5_icon 'long-arrow-alt-left' 'fas' %} {% trans 'Volver' %}
            </a>
        </div>
    </div>
    <div class="centrado" style="margin-top: 40px;width: 50%;margin: 0 auto;">
        <div class="col-md-12" style="text-align: center;">
            <h1>NÚMERO TOTAL DE PROYECTOS: {{project_num}}</h1>
        </div>
        <table class="table table-hover table-condensed" style="background-color: #d7dadd; border-radius: 15px; table-layout: fixed;">
            <thead style="background-color: rgb(133, 172, 172);">
                <tr>
                    <td style="text-align:center; vertical-align: middle;" colspan="2">
                        <label><b>{% trans '% DE ÉXITO EN LA GESTIÓN DE PROYECTOS'%}</b></label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center; vertical-align: middle; align-items: center;" align="center">
                        <p>TOTAL:</p>
                    </td>
                    <td style="text-align:center; vertical-align: middle; align-items: center;" align="center">
                        <p>ÚLTIMO AÑO:</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align: middle; align-items: center;" align="center">
                        <p>{{total_ok}}%</p>
                    </td>
                    <td style="text-align:center; vertical-align: middle; align-items: center;" align="center">
                        <p>73%</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-2"></div>
        <div class="col-md-2" style="text-align: center;">
            <label>{% trans 'Situación: ' %} </label>
            <select id="management" class="text-center" name="management" style="text-align: center;">
                <option value="FEVAMA">{% trans 'Aprobado' %}</option>
                <option value="ELLOS">{% trans 'Renunciado' %}</option>
                <option value="A MEDIAS">{% trans 'Justificado' %}</option>
            </select>
        </div>
        <div class="col-md-2" style="text-align: center;">
            <label for="fromDate">{% trans 'Desde: ' %} </label>
            <input id="fromDate" class="datepicker" >
        </div>
        <div class="col-md-2" style="text-align: center;">
            <label for="fromDate">{% trans 'Hasta: ' %} </label>
            <input id="fromDate" class="datepicker" >
        </div>
        <div class="col-md-2" style="text-align: center;">
            <button id="btn-refresh" onclick="" class="btn btn-primary btn-block">
                {% trans 'Cargar gráficas' %}
            </button>
        </div>
    </div>
    <div id="first" class="centrado">
        <hr/>
    </div>
</body>

<script>

function createAutoClosingAlert(selector, delay)
    {
        if(delay == 0)
        {
            $(selector).show();
        }
        else if(delay == -1)
        {
            $(selector).hide();
        }
        else if(delay > 0)
        {
            $(selector).fadeIn("slow");
            window.setTimeout(function() { $(selector).fadeOut("slow"); }, delay);
        }
    }

</script>
{% endblock %}