{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<style>
.centrado {
  margin: 1rem;
  padding: 1rem;
}
</style>
<body style="background-color: #efefef;">
<div class="centrado">
    <legend style="margin-top: 20px; text-align: center;">
        <i class="fas fa-user-edit"></i> {% trans 'Solicitantes' %}
    </legend>
    <hr/>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <a id="btn-back" class="btn btn-outline-secondary" href="{% url 'fevama:applicant_index' %}">
                {% fa5_icon 'long-arrow-alt-left' 'fas' %} {% trans 'Volver' %}
            </a>
        </div>
    </div>
    <div class="centrado" style="margin-top: 40px;width: 50%;margin: 0 auto;">
            <table class="table table-hover table-condensed" style="background-color: #d7dadd; border-radius: 15px; table-layout: fixed;">
                <thead style="background-color: rgb(133, 172, 172);">
                    <tr>
                        <td style="text-align:center; vertical-align: middle;" colspan="2">
                            <label><b>{% trans 'MODIFICAR NOMBRE DEL SOLICITANTE'%}</b></label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;">
                                <label> {% trans 'Solicitante:'%}</label>
                        </td>
                        <td style="text-align:center; vertical-align: middle;">
                            <input id="applicant" type="text" value="{{applicant.name}}" style="width: 100%;text-align: center; border-radius: 5px; border: 0px; height: 35px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;" colspan="2">
                                <a id="btn-modify" class="btn btn-outline-success" onclick="modify()"> {% fa5_icon 'arrow-rotate-right' 'fas' %} {% trans 'MODIFICAR' %}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center col-md-12" style="margin-top: 10px;display: table-cell;">
                <div class="col-md-2">
                    <div class="help-block"></div>
                </div>
                <div class="col-md-6">
                    <div id="exists"  class="alert alert-danger danger" data-alert="alert" style="width:95%; display: none; text-align: center;">
                        <p>
                            {% trans 'Ya existe este solicitante' %}
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="help-block"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center col-md-12" style="margin-top: 10px;display: table-cell;">
                <div class="col-md-2">
                    <div class="help-block"></div>
                </div>
                <div class="col-md-6">
                    <div id="valueKO"  class="alert alert-danger danger" data-alert="alert" style="width:95%; display: none; text-align: center;">
                        <p>
                            {% trans 'No puedes dejar el campo vacio' %}
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="help-block"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center col-md-12" style="margin-top: 10px;display: table-cell;">
                <div class="col-md-2">
                    <div class="help-block"></div>
                </div>
                <div class="col-md-6">
                    <div id="created"  class="alert alert-success success" data-alert="alert" style="width:95%; display: none; text-align: center;">
                        <p>
                            {% trans 'Registro modificado correctamente' %}
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="help-block"></div>
                </div>
            </div>
    </div>
</div>
</body>
<script>
    function createAutoClosingAlert(selector, delay)
    {
        if(delay == 0)
        {
            $(selector).show();
        }
        else if(delay == -1)
        {
            $(selector).hide();
        }
        else if(delay > 0)
        {
            $(selector).fadeIn("slow");
            window.setTimeout(function() { $(selector).fadeOut("slow"); }, delay);
        }
    }

    function modify()
    {      
        if(confirm('{% trans "Estás seguro de modificar este solicitante?" %}'))
        {
            document.getElementById("btn-modify").className = "btn btn-warning btn btn-block btnBootstrapping";
            document.getElementById("btn-modify").innerHTML="<i class='fa fa-spinner fa-spin'></i>&nbsp;{% trans 'MODIFICANDO' %}";
            var applicant = document.getElementById("applicant").value;
            var id = {{ applicant.id}}
            if (applicant == ""){
                document.getElementById("btn-modify").className = "btn btn-outline-success";
                document.getElementById("btn-modify").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'MODIFICAR' %}";
                createAutoClosingAlert('#valueKO', 5000);
            } else {
                $.ajax({
                    url: '{% url "fevama:applicant_modifyItem" %}',
                    data:  {
                        'id': id,
                        'applicant': applicant
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        if(data['code'] == 200){
                            document.getElementById("btn-modify").className = "btn btn-outline-success";
                            document.getElementById("btn-modify").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                            createAutoClosingAlert('#created', 5000);
                        }
                        if(data['code'] == 404){
                            document.getElementById("btn-modify").className = "btn btn-outline-success";
                            document.getElementById("btn-modify").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                            createAutoClosingAlert('#exists', 5000);   
                        } 
                    },
                    error: function (data) {
                        document.getElementById("btn-modify").className = "btn btn-danger btn btn-block btnBootstrapping";
                        document.getElementById("btn-modify").innerHTML="ERROR"; 
                    },
                });
            }
        }
    }
</script>
{% endblock %}