{% extends "admin/base_site.html" %}
{% load i18n %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<style>
    .index-button
    {
        width:95%;
        border-radius: 25%;
        background-color:#FFFFFF;
        border: 2px solid #000000;
        padding: 30px 30px;
        margin:5px 5px 5px 5px;
    }
    .index-button:hover
    {
        width:95%;
        border-radius: 25%;
        background-color:#d4d0d0;
        border: 2px solid #b6a9a9;
        padding: 30px 30px;
        
        margin:5px 5px 5px 5px;
    }
</style>
<link rel="stylesheet" type="text/css" href="../../../../../static/admin/css/dashboard.css">
<body style="background-color: #efefef;">
    <div id="content" style="margin-left: 20px; margin-right: 20px;">
        <legend style="margin-top: 20px;">
            <i class="fas fa-money-check-alt"></i> {% trans 'Subvenciones' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:project_index' %}" title="{% trans 'Proyectos' %}">
                        {% fa5_icon 'briefcase' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:invoice_index' %}" title="{% trans 'Facturas' %}">
                        {% fa5_icon 'book' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:assistance_index' %}" title="{% trans 'Ayudas' %}">
                        {% fa5_icon 'money-check-alt' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:line_index' %}" title="{% trans 'Linea ayudas' %}">
                        {% fa5_icon 'hands-helping' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:act_index' %}" title="{% trans 'Actuación' %}">
                        {% fa5_icon 'align-justify' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:situation_index' %}" title="{% trans 'Situación' %}">
                        {% fa5_icon 'gavel' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:announcement_index' %}" title="{% trans 'Convocatoria' %}">
                        {% fa5_icon 'calendar-alt' 'fas fa-3x' %}
                    </a>
                </td> 
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Gráficos' %}">
                        {% fa5_icon 'chart-bar' 'fas fa-3x' %}
                    </a>
                </td>
            </tr>
                <td align="center">{% trans "Proyectos" %}</td>
                <td align="center">{% trans "Facturas" %}</td>
                <td align="center">{% trans "Ayudas" %}</td>
                <td align="center">{% trans "Linea ayudas" %}</td>
                <td align="center">{% trans "Actuación" %}</td>
                <td align="center">{% trans "Situación" %}</td>
                <td align="center">{% trans "Convocatoria" %}</td>
                <td align="center">{% trans "Gráficos" %}</td>
            <tr>
        </table>
    </div>
</body>
{% endblock %}