{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block tittle %} Change Password {% endblock %}
{% block content %}
<style>
    .centrado {
    margin: 1rem;
    padding: 1rem;
    }
</style>
<body style="background-color: #efefef;">
    <div class="col-sm-4" style="height: 10px;">
        <div class="help-block"></div>
    </div>
    <div class="col-sm-12"> 
        <div class="col-sm-4" style="height: 10px;">
            <div class="help-block"></div>
        </div>
        <div class="centrado" style="background-color: #fcfcfc;margin-left: 40px;">
            <br/>
            <h5 style="margin-left: 20px;"> {% trans 'CAMBIAR CONTRASEÑA' %}</h5>
            <br/>
            <div class="form-group">
                <div class="col-sm-4">
                    <div class="help-block"></div>
                </div>
                <form method="POST" style="margin-left: 40px;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">{% trans 'Cambiar contraseña' %}</button>
                </form>
                <div class="col-sm-4" style="height: 10px;">
                    <div class="help-block"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="height: 10px;">
            <div class="help-block"></div>
        </div>
    </div>
</body>
{% endblock %}