{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<style>
.centrado {
  margin: 1rem;
  padding: 1rem;
}
</style>
<body style="background-color: #efefef;">
<div class="centrado">
    <legend style="margin-top: 20px; text-align: center;">
        <i class="fas fa-address-book"></i> {% trans 'Contactos' %}
    </legend>
    <hr/>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <a id="btn-back" class="btn btn-outline-secondary" href="{% url 'fevama:contact_index' %}">
                {% fa5_icon 'long-arrow-alt-left' 'fas' %} {% trans 'Volver' %}
            </a>
        </div>
    </div>
    <div class="centrado" style="margin-top: 40px;width: 50%;margin: 0 auto;">
            <table class="table table-hover table-condensed" style="background-color: #d7dadd; border-radius: 15px; table-layout: fixed;">
                <thead style="background-color: rgb(133, 172, 172);">
                    <tr>
                        <td style="text-align:center; vertical-align: middle;" colspan="2">
                            <label><b> {% trans 'CREAR CONTACTO'%}</b></label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;">
                                <label> {% trans 'Nombre:'%}</label>
                        </td>
                        <td style="text-align:center; vertical-align: middle;">
                            <input id="name" type="text" placeholder="Nombre del contacto" style="width: 100%;text-align: center; border-radius: 5px; border: 0px; height: 35px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;">
                                <label> {% trans 'Email:'%}</label>
                        </td>
                        <td style="text-align:center; vertical-align: middle;">
                            <input id="email" type="text" placeholder="Dirección de correo" style="width: 100%;text-align: center; border-radius: 5px; border: 0px; height: 35px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;">
                                <label> {% trans 'Empresa:'%}</label>
                        </td>
                        <td style="text-align:center; vertical-align: middle;">
                            <select id="empresa" class="form-control text-center" name="empresa" style="text-align: center;">
                                {% for e in empresas_list %}
                                <option value="{{ e.id }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;">
                                <label> {% trans 'Tipo:'%}</label>
                        </td>
                        <td style="text-align:center; vertical-align: middle;">
                            <select id="type" class="form-control text-center" name="empresa" style="text-align: center;">
                                {% for t in type_list %}
                                <option value="{{ t.id }}">{{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;" colspan="2">
                                <a id="btn-create" class="btn btn-outline-success" onclick="create()"> {% fa5_icon 'plus' 'fas' %} {% trans 'CREAR' %}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="d-flex justify-content-center col-md-12" style="margin-top: 10px;display: table-cell;">
		<div class="col-md-2">
            <div class="help-block"></div>
        </div>
		<div class="col-md-6">
			<div id="exists"  class="alert alert-danger danger" data-alert="alert" style="width:95%; display: none; text-align: center;">
				<p>
					{% trans 'Ya existe un contacto con los mismos datos' %}
				</p>
			</div>
        </div>
		<div class="col-md-2">
            <div class="help-block"></div>
        </div>
	</div>
    <div class="d-flex justify-content-center col-md-12" style="margin-top: 10px;display: table-cell;">
		<div class="col-md-2">
            <div class="help-block"></div>
        </div>
		<div class="col-md-6">
			<div id="valueKO"  class="alert alert-danger danger" data-alert="alert" style="width:95%; display: none; text-align: center;">
				<p>
					{% trans 'No puedes dejar sin rellenar ningún campo' %}
				</p>
			</div>
        </div>
		<div class="col-md-2">
            <div class="help-block"></div>
        </div>
	</div>
    <div class="d-flex justify-content-center col-md-12" style="margin-top: 10px;display: table-cell;">
		<div class="col-md-2">
            <div class="help-block"></div>
        </div>
		<div class="col-md-6">
			<div id="created"  class="alert alert-success success" data-alert="alert" style="width:95%; display: none; text-align: center;">
				<p>
					{% trans 'Contacto creado correctamente' %}
				</p>
			</div>
        </div>
		<div class="col-md-2">
            <div class="help-block"></div>
        </div>
	</div>

</div>
</body>
<script>
    function createAutoClosingAlert(selector, delay)
    {
        if(delay == 0)
        {
            $(selector).show();
        }
        else if(delay == -1)
        {
            $(selector).hide();
        }
        else if(delay > 0)
        {
            $(selector).fadeIn("slow");
            window.setTimeout(function() { $(selector).fadeOut("slow"); }, delay);
        }
    }

    function create()
    {      
        if(confirm('{% trans "Estás seguro de crear este contacto?" %}'))
        {
            document.getElementById("btn-create").className = "btn btn-warning btn btn-block btnBootstrapping";
            document.getElementById("btn-create").innerHTML="<i class='fa fa-spinner fa-spin'></i>&nbsp;{% trans 'CREANDO' %}";
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var empresa = document.getElementById("empresa").value;
            var type = document.getElementById("type").value;
            if (empresa == ""){
                document.getElementById("btn-create").className = "btn btn-outline-success";
                document.getElementById("btn-create").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                createAutoClosingAlert('#valueKO', 5000);
            } else if (name == ""){
                document.getElementById("btn-create").className = "btn btn-outline-success";
                document.getElementById("btn-create").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                createAutoClosingAlert('#valueKO', 5000);
            } else if (email == ""){
                document.getElementById("btn-create").className = "btn btn-outline-success";
                document.getElementById("btn-create").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                createAutoClosingAlert('#valueKO', 5000);
            } else if (type == ""){
                document.getElementById("btn-create").className = "btn btn-outline-successs";
                document.getElementById("btn-create").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                createAutoClosingAlert('#valueKO', 5000);
            } else {
                $.ajax({
                    url: '{% url "fevama:contact_createItem" %}',
                    data:  {
                        'name': name,
                        'email': email,
                        'empresa': empresa,
                        'type': type
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data['code'] == 200){
                            document.getElementById("btn-create").className = "btn btn-outline-success";
                            document.getElementById("btn-create").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                            createAutoClosingAlert('#created', 5000);
                        }
                        if(data['code'] == 404){
                            document.getElementById("btn-create").className = "btn btn-outline-success";
                            document.getElementById("btn-create").innerHTML="<i class='fa fa-plus'></i>&nbsp; {% trans 'CREAR' %}";
                            createAutoClosingAlert('#exists', 5000);   
                        } 
                    },
                    error: function (data) {
                        document.getElementById("btn-create").className = "btn btn-danger btn btn-block btnBootstrapping";
                        document.getElementById("btn-create").innerHTML="ERROR"; 
                    },
                });
            }
        }
    }
</script>
{% endblock %}