{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<style>
.centrado {
  margin: 1rem;
  padding: 1rem;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
</style>
<body style="background-color: #efefef;">
    <div class="centrado">
        <legend style="margin-top: 20px; text-align: center;">
            <i class="fas fa-chart-bar"></i> {% trans 'Gráficos' %}
        </legend>
        <hr/>
    </div> 
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-1"></div>
        <div class="col-md-1" style="margin-top: 5px;">
            <a id="btn-back" class="btn btn-outline-secondary" href="{% url 'fevama:projects_index' %}">
                {% fa5_icon 'long-arrow-alt-left' 'fas' %} {% trans 'Volver' %}
            </a>
        </div>
    </div>
    <div class="centrado" style="margin-top: 40px;width: 50%;margin: 0 auto;">
        <table class="table table-hover table-condensed" style="background-color: #d7dadd; border-radius: 15px; table-layout: fixed;">
            <thead style="background-color: rgb(133, 172, 172);">
                <tr>
                    <td style="text-align:center; vertical-align: middle;" colspan="2">
                        <label><b>{% trans 'Selecciona una empresa:'%}</b></label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center; vertical-align: middle; align-items: center;" align="center">
                        <select id="empresa" class="form-control text-center" name="empresa">
                            {% for e in object_list %}
                            <option value="{{ e.id }}">{{ e.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td style="text-align:center; vertical-align: middle;">
                        <a id="btn-modify" class="btn btn-outline-success" onclick="loadData()">{% trans 'Cargar gráficas' %}</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align: middle;" colspan="2">
                        <button id="myBtn" class="btn btn-outline-secondary">{% trans 'Comparar' %}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <figure class="highcharts-figure">
        <div id="container3" style="display: none;"></div>
    </figure>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-4"></div>
        <div id="btn-csv" class="col-md-2" style="text-align: center;display: none;" >
            <a class="btn btn-outline-secondary" onclick="getCSV()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar CSV' %}
            </a>
        </div>
        <div id="btn-png" class="col-md-2" style="text-align: center; display: none;">
            <a class="btn btn-outline-secondary" onclick="getPNG()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar PNG' %}
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
   <div id="first" class="centrado" style="display: none;">
       <hr/>
   </div>

    <figure class="highcharts-figure">
        <div id="container4" style="display: none;"></div>
    </figure>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-4"></div>
        <div id="btn-csv1" class="col-md-2" style="text-align: center; display: none;">
            <a class="btn btn-outline-secondary" onclick="getCSV1()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar CSV' %}
            </a>
        </div>
        <div id="btn-png1" class="col-md-2" style="text-align: center; display: none;">
            <a class="btn btn-outline-secondary" onclick="getPNG1()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar PNG' %}
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
   <div id="second" class="centrado" style="display: none;">
       <hr/>
   </div>

    <figure class="highcharts-figure">
        <div id="container" style="display: none;"></div>
    </figure>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-4"></div>
        <div id="btn-csv3" class="col-md-2" style="text-align: center; display: none;">
            <a class="btn btn-outline-secondary" onclick="getCSV1()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar CSV' %}
            </a>
        </div>
        <div id="btn-png3" class="col-md-2" style="text-align: center; display: none;">
            <a class="btn btn-outline-secondary" onclick="getPNG1()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar PNG' %}
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
   <div id="third" class="centrado" style="display: none;">
       <hr/>
   </div>
    <figure class="highcharts-figure">
        <div id="container2" style="display: none;"></div>
    </figure>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-4"></div>
        <div id="btn-csv4" class="col-md-2" style="text-align: center; display: none;">
            <a class="btn btn-outline-secondary" onclick="getCSV1()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar CSV' %}
            </a>
        </div>
        <div id="btn-png4" class="col-md-2" style="text-align: center; display: none;">
            <a class="btn btn-outline-secondary" onclick="getPNG1()">
                {% fa5_icon 'download' 'fas' %} {% trans 'Descargar PNG' %}
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
   <div id="four" class="centrado" style="display: none;">
       <hr/>
   </div>

<!-- The Modal -->
<div class="centrado">
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="background-color: rgb(239 239 239);">
          <span class="close">&times;</span>
          <div class="centrado" style="margin-top: 40px;width: 50%;margin: 0 auto;">
            <table class="table table-hover table-condensed" style="background-color: #d7dadd; border-radius: 15px; table-layout: fixed;">
                <thead style="background-color: rgb(133, 172, 172);">
                    <tr>
                        <td style="text-align:center; vertical-align: middle;" colspan="2">
                            <label><b>{% trans 'Empresas a comparar:'%}</b></label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center; vertical-align: middle; align-items: center;" align="center">
                            <select id="empresa1" class="form-control text-center" name="empresa">
                                {% for e in object_list %}
                                <option value="{{ e.id }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="text-align:center; vertical-align: middle; align-items: center;" align="center">
                            <select id="empresa2" class="form-control text-center" name="empresa">
                                {% for e in object_list %}
                                <option value="{{ e.id }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; vertical-align: middle;" colspan="2">
                            <button id="myBtn" class="btn btn-outline-secondary"  onclick="compare()">{% trans 'Comparar' %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
  
</body>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }


Highcharts.chart('container', {
    title: {
        text: 'Número de emplados anuales registrados por empresa'
    },
    yAxis: {
        title: {
            text: 'Numero de empleados'
        }
    },
    xAxis: {
        accessibility: {
            rangeDescription: 'Range: 2010 to 2017'
        }
    },
    credits: {
        enabled: false
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2015
        }
    },
    series: [{
        name: 'FEVAMA',
        data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
    }, {
        name: 'UVAX',
        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
    }, {
        name: 'Código Comunicación y Diseño',
        data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
    }],
    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }      
});
Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Valores anuales de facturación'
    },
    xAxis: {
        categories: [
            '2013',
            '2014',
            '2015',
            '2016',
            '2017',
            '2018',
            '2019',
            '2020',
            '2021',
            '2022',
            '2021',
            '2022'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Valores anuales (€)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} €</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'UVAX',
        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

    }, {
        name: 'Código Comunicación y Diseño',
        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

    }, {
        name: 'FEVAMA',
        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

    }]
});

function loadData(){

    // Ocultar el resto
    document.getElementById("container").style.display = "none";
    document.getElementById("container2").style.display = "none";
    document.getElementById("btn-csv3").style.display = "none";
    document.getElementById("btn-png3").style.display = "none";
    document.getElementById("third").style.display = "none";
    document.getElementById("btn-csv4").style.display = "none";
    document.getElementById("btn-png4").style.display = "none";
    document.getElementById("four").style.display = "none";

    var anualData = {
        chart: { renderTo: 'container3', type: 'column' },
        legend: {enabled: true},
        title: {text: '{% trans "Valor anual facturación" %}'},
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [],
            crosshair: true 
        },
        yAxis: { 
            min: 0,
            title: {
                text: 'Cantidad (€)'
            } 
        },
        rangeSelector: { buttons: [], enabled: false, inputEnabled: false },
        scrollbar: { enabled: false },
        series: [{}],
        colors: ['rgb(133, 172, 172)'],
        plotOptions: { series: { dataGrouping: { enabled: false } } }
    };

    var workersData = {
        chart: { renderTo: 'container4'},
        legend: {enabled: true},
        title: {text: '{% trans "Número de empleados anuales registrados por empresa" %}'},
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [],
            crosshair: true 
        },
        yAxis: { 
            min: 0,
            title: {
                text: 'Número de empleados'
            } 
        },
        rangeSelector: { buttons: [], enabled: false, inputEnabled: false },
        scrollbar: { enabled: false },
        series: [{}],
        colors: ['rgb(133, 172, 172)'],
        plotOptions: { series: { dataGrouping: { enabled: false } } }
    };

    real_id = document.getElementById("empresa").value;
    var request = $.ajax({
            type: "GET",
            url: "{% url "fevama:empresa_getdatagraph" %}",
            data: {
                'identifier': real_id
            },
            async: true
        }).done(function(data){
            console.log(data);

            // Anual data
            document.getElementById("container3").style.display = "block";
            anualData.series[0].name = '{% trans "Valor anual" %} (€)';
            anualData.series[0].data = data['chart_data'][1]['value'];
            var chart = new Highcharts.Chart(anualData);
            chart.xAxis[0].setCategories(data['chart_data'][0]['year'], true);

            // Buttons anual data
            document.getElementById("btn-csv").style.display = "block";
            document.getElementById("btn-png").style.display = "block";
            document.getElementById("first").style.display = "block";

            // Workers data
            document.getElementById("container4").style.display = "block";
            workersData.series[0].name = '{% trans "Número de empleados" %}';
            workersData.series[0].data = data['chart_data'][2]['workers'];
            var chart2 = new Highcharts.Chart(workersData);
            chart2.xAxis[0].setCategories(data['chart_data'][0]['year'], true);

            // Buttons workers data
            document.getElementById("btn-csv1").style.display = "block";
            document.getElementById("btn-png1").style.display = "block";
            document.getElementById("second").style.display = "block";

        }).fail(function(jqXHR, textStatus) {
            console.log( "Request failed: " + textStatus );
        });

}

function compare(){

    // Cerrar modal
    modal.style.display = "none";

    // Ocultar el resto
    document.getElementById("container4").style.display = "none";
    document.getElementById("btn-csv1").style.display = "none";
    document.getElementById("btn-png1").style.display = "none";
    document.getElementById("second").style.display = "none";
    document.getElementById("btn-csv").style.display = "none";
    document.getElementById("btn-png").style.display = "none";
    document.getElementById("first").style.display = "none";
    document.getElementById("container3").style.display = "none";

    // Mostrar las suyas
    document.getElementById("container").style.display = "block";
    document.getElementById("container2").style.display = "block";
    document.getElementById("btn-csv3").style.display = "block";
    document.getElementById("btn-png3").style.display = "block";
    document.getElementById("third").style.display = "block";
    document.getElementById("btn-csv4").style.display = "block";
    document.getElementById("btn-png4").style.display = "block";
    document.getElementById("four").style.display = "block";


    real_id1 = document.getElementById("empresa1").value;
    real_id2 = document.getElementById("empresa2").value;
    var request = $.ajax({
            type: "GET",
            url: "{% url "fevama:empresa_compare" %}",
            data: {
                'identifier1': real_id1,
                'identifier2': real_id2
            },
            async: true
        }).done(function(data){
            console.log(data);
        }).fail(function(jqXHR, textStatus) {
            console.log( "Request failed: " + textStatus );
        });

}

function getCSV(){
    var chart = $('#container3').highcharts();
    chart.downloadCSV();
}

function getCSV1(){
    var chart = $('#container4').highcharts();
    chart.downloadCSV();
}

function getPNG(){
    var chart = $('#container3').highcharts();
    chart.exportChart();
}

function getPNG1(){
    var chart = $('#container4').highcharts();
    chart.exportChart();
}

</script>
{% endblock %}