{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<style>
    .index-button
    {
        width:95%;
        border-radius: 25%;
        background-color:#FFFFFF;
        border: 2px solid #000000;
        padding: 30px 30px;
        margin:5px 5px 5px 5px;
    }
    .index-button:hover
    {
        width:95%;
        border-radius: 25%;
        background-color:#d4d0d0;
        border: 2px solid #b6a9a9;
        padding: 30px 30px;
        margin:5px 5px 5px 5px;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
<body style="background-color: #efefef;">
    <div id="content" style="margin-left: 20px; margin-right: 20px;">
        <legend style="margin-top: 20px;">
            <i class="fas fa-building"></i> {% trans 'Empresas' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:empresas_index' %}" title="{% trans 'Empresas' %}">
                        {% fa5_icon 'file-alt' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:contact_index' %}" title="{% trans 'Contactos' %}">
                        {% fa5_icon 'address-book' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:typeofcontact_index' %}" title="{% trans 'Tipos de Contactos' %}">
                        {% fa5_icon 'users' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:economicdata_index' %}" title="{% trans 'Datos económicos' %}">
                        {% fa5_icon 'coins' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:graphs_index' %}" title="{% trans 'Gráficos' %}">
                        {% fa5_icon 'chart-bar' 'fas fa-3x' %}
                    </a>
                </td>           
            </tr>
                <td align="center">{% trans "Empresas" %}</td>
                <td align="center">{% trans "Contactos" %}</td>
                <td align="center">{% trans "Tipos de Contacto" %}</td>
                <td align="center">{% trans "Datos económicos" %}</td>
                <td align="center">{% trans "Gráficos" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-money-check-alt"></i> {% trans 'Subvenciones' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:project_index' %}" title="{% trans 'Proyectos' %}">
                        {% fa5_icon 'briefcase' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:invoice_index' %}" title="{% trans 'Facturas' %}">
                        {% fa5_icon 'book' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:assistance_index' %}" title="{% trans 'Ayudas' %}">
                        {% fa5_icon 'money-check-alt' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:line_index' %}" title="{% trans 'Linea ayudas' %}">
                        {% fa5_icon 'hands-helping' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:act_index' %}" title="{% trans 'Actuación' %}">
                        {% fa5_icon 'align-justify' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:situation_index' %}" title="{% trans 'Situación' %}">
                        {% fa5_icon 'gavel' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:announcement_index' %}" title="{% trans 'Convocatoria' %}">
                        {% fa5_icon 'calendar-alt' 'fas fa-3x' %}
                    </a>
                </td> 
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Gráficos' %}">
                        {% fa5_icon 'chart-bar' 'fas fa-3x' %}
                    </a>
                </td>
            </tr>
                <td align="center">{% trans "Proyectos" %}</td>
                <td align="center">{% trans "Facturas" %}</td>
                <td align="center">{% trans "Ayudas" %}</td>
                <td align="center">{% trans "Linea ayudas" %}</td>
                <td align="center">{% trans "Actuación" %}</td>
                <td align="center">{% trans "Situación" %}</td>
                <td align="center">{% trans "Convocatoria" %}</td>
                <td align="center">{% trans "Gráficos" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-user-friends"></i> {% trans 'Recursos humanos' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Solicitantes' %}">
                        {% fa5_icon 'user-edit' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Organismo' %}">
                        {% fa5_icon 'home' 'fas fa-3x' %}
                    </a>
                </td>
            </tr>
                <td align="center">{% trans "Solicitantes" %}</td>
                <td align="center">{% trans "Organismo" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-bell"></i> {% trans 'Notificaciones' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Configurar servidor' %}">
                        <i class="fa fa-3x fa-mail-bulk" aria-hidden="true"></i>
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Notificaciones' %}">
                        <i class="fa fa-3x fa-envelope" aria-hidden="true"></i>
                    </a>
                </td>    
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Alertas' %}">
                        <i class="fa fa-3x fa-list" aria-hidden="true"></i>
                    </a>
                </td>         
            </tr>
                <td align="center">{% trans "Configurar servidor" %}</td>
                <td align="center">{% trans "Notificaciones" %}</td>
                <td align="center">{% trans "Alertas" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-database"></i> {% trans 'Configuración Base de Datos' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Copias de seguridad' %}">
                        {% fa5_icon 'database' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Limpieza' %}">
                        {% fa5_icon 'eraser' 'fas fa-3x' %}
                    </a>
                </td>           
            </tr>
                <td align="center">{% trans "Copias de seguridad" %}</td>
                <td align="center">{% trans "Limpieza" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-user-cog"></i> {% trans 'Parámetros' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Usuarios' %}">
                        {% fa5_icon 'users' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Configuración' %}">
                        {% fa5_icon 'cog' 'fas fa-3x' %}
                    </a>
                </td>           
            </tr>
                <td align="center">{% trans "Usuarios" %}</td>
                <td align="center">{% trans "Configuración" %}</td>
            <tr>
        </table>
    </div>
</body>
{% endblock %}