{% extends "admin/base_site.html" %}
{% load i18n %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<style>
    .index-button
    {
        width:95%;
        border-radius: 25%;
        background-color:#FFFFFF;
        border: 2px solid #000000;
        padding: 30px 30px;
        margin:5px 5px 5px 5px;
    }
</style>

<body style="background-color: #efefef;">
    <div id="content" style="margin-left: 20px; margin-right: 20px;">
        <legend>
            <i class="fas fa-desktop"></i> {% trans 'Proyectos' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Gestión' %}">
                        {% fa5_icon 'file-alt' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Gráficos' %}">
                        {% fa5_icon 'chart-bar' 'fas fa-3x' %}
                    </a>
                </td>           
            </tr>
                <td align="center">{% trans "Gestión" %}</td>
                <td align="center">{% trans "Gráficos" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-money-check-alt"></i> {% trans 'Ayudas' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Configurar' %}">
                        {% fa5_icon 'cogs' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Gráficos' %}">
                        {% fa5_icon 'chart-bar' 'fas fa-3x' %}
                    </a>
                </td>           
            </tr>
                <td align="center">{% trans "Configurar" %}</td>
                <td align="center">{% trans "Gráficos" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-calendar-alt"></i> {% trans 'Planificación' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Diagramas de Gantt' %}">
                        {% fa5_icon 'project-diagram' 'fas fa-3x' %}
                    </a>
                </td>         
            </tr>
                <td align="center">{% trans "Diagramas de Gantt" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-bell"></i> {% trans 'Notificaciones' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Configurar servidor' %}">
                        <i class="fa fa-3x fa-mail-bulk" aria-hidden="true"></i>
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Notificaciones' %}">
                        <i class="fa fa-3x fa-envelope" aria-hidden="true"></i>
                    </a>
                </td>    
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Alertas' %}">
                        <i class="fa fa-3x fa-list" aria-hidden="true"></i>
                    </a>
                </td>         
            </tr>
                <td align="center">{% trans "Configurar servidor" %}</td>
                <td align="center">{% trans "Notificaciones" %}</td>
                <td align="center">{% trans "Alertas" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-database"></i> {% trans 'Configuración Base de Datos' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Copias de seguridad' %}">
                        {% fa5_icon 'database' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Limpieza' %}">
                        {% fa5_icon 'eraser' 'fas fa-3x' %}
                    </a>
                </td>           
            </tr>
                <td align="center">{% trans "Copias de seguridad" %}</td>
                <td align="center">{% trans "Limpieza" %}</td>
            <tr>
        </table>

        <legend style="margin-top: 20px;">
            <i class="fas fa-user-cog"></i> {% trans 'Parámetros' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Usuarios' %}">
                        {% fa5_icon 'users' 'fas fa-3x' %}
                    </a>
                </td>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="" title="{% trans 'Configuración' %}">
                        {% fa5_icon 'cog' 'fas fa-3x' %}
                    </a>
                </td>           
            </tr>
                <td align="center">{% trans "Usuarios" %}</td>
                <td align="center">{% trans "Configuración" %}</td>
            <tr>
        </table>
    </div>
</body>
{% endblock %}