{% extends "admin/base_site.html" %}
{% load i18n %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

{% block content %}
<style>
    .index-button
    {
        width:95%;
        border-radius: 25%;
        background-color:#FFFFFF;
        border: 2px solid #000000;
        padding: 30px 30px;
        margin:5px 5px 5px 5px;
    }
    .index-button:hover
    {
        width:95%;
        border-radius: 25%;
        background-color:#d4d0d0;
        border: 2px solid #b6a9a9;
        padding: 30px 30px;
        margin:5px 5px 5px 5px;
    }
</style>
<link rel="stylesheet" type="text/css" href="../../../../../static/admin/css/dashboard.css">
<body style="background-color: #efefef;">
    <div id="content" style="margin-left: 20px; margin-right: 20px;">
        <legend style="margin-top: 20px;">
            <i class="fas fa-user-cog"></i> {% trans 'Parámetros' %}
        </legend>
        <hr/>
        <table class="table-responsive">
            <tr>
            </tr>
            <tr>
                <td height="75" width="140">
                    <a class="btn btn-block btn-default index-button" href="{% url 'fevama:users_index' %}" title="{% trans 'Usuarios' %}">
                        {% fa5_icon 'users' 'fas fa-3x' %}
                    </a>
                </td>         
            </tr>
                <td align="center">{% trans "Usuarios" %}</td>
            <tr>
        </table>
    </div>
</body>
{% endblock %}